:root {
    --fuente-principal: 'Poppins', sans-serif;
    /* --fuente-secundaria: 'Roboto', sans-serif;; */
    --background-principal: #170344;
    --background-secundario: #150833;
    --primario: rgba(0, 255, 255, 0.753);
    --secundario: rgba(0, 147, 147, 0.753);
    --terciario: rgba(0, 95, 95, 0.753);
}

body{
    line-height: 2;
    width: min(65vw, 100rem);
    margin: 0 auto !important;
}

.dark-mode{
    color: white;
    background-color: var(--background-principal);
}

section{
    scroll-snap-align: center;
}

@media (max-width: 564.5px){
    body{
        width: 90%;
    }    
}