:root {
    --fuente-principal: 'Poppins', sans-serif;
    /* --fuente-secundaria: 'Roboto', sans-serif;; */
    --background-principal: #170344;
    --background-secundario: #150833;
    --primario: rgba(0, 255, 255, 0.753);
    --secundario: rgba(0, 147, 147, 0.753);
    --terciario: rgba(0, 95, 95, 0.753);
}

body{
    line-height: 2;
    width: min(65vw, 100rem);
    margin: 0 auto !important;
}

.dark-mode{
    color: white;
    background-color: var(--background-principal);
}

section{
    scroll-snap-align: center;
}

/* Header */

@keyframes desTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 0 10px 0;

    position: fixed;
    width: 65vw;
    z-index: 100;

    background: rgb(23,3,68);
    background: linear-gradient(180deg, rgba(23,3,68,1) 5%, rgba(255,255,255,0) 100%);

    animation: desTop 1s ease-out;
}

@media(max-width: 1010px){
    body{
        width: min(75vw, 100rem);
    }
    header{
        width: 75vw;
    }
}

header img{
    padding-top: 10px;
    width: 90px;
    transition: all 0.5s ease;
}

header img:hover{
    transform: scale(1.1);
}

#bars, #times{
    display: none;
    transition: all 0.3s ease;
}

#bars:hover, #times:hover{
    color: var(--primario);
}

nav{
    display: flex;
    list-style: none;
    gap: 2rem;
    white-space: nowrap;
}

.nav-links{
    text-decoration: none;
    color: var(--blanco);
    font-size: 110%;
    cursor: pointer;
}

.nav-links:hover{
    color: var(--primario);
}

@media(max-width: 806px){
    #bars{
        display: block;
        font-size: 150%;
    }

    #times{
        display: block;
        font-size: 150%;
        position: absolute;
        top: 50px;
        right: 100px;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--background-secundario);
        transform: translateY(-125vh);
        transition: 1s ease;
        z-index: 1000;
        font-size: 125%;
    }
    
    .closeNav{
        transform: translateY(-125vh);
    }

    .openNav{
        transform: none;
    }
}


/* Inicio */

@keyframes desIzq {
    from {
      transform: translateX(-25%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

#Inicio{
    font-family: var(--fuente-principal);
    min-height: 400px;
    padding: 160px 0 210px 0;
    animation: desIzq 1s ease-out;
}

.inicio-img-container{
    padding: 0;
}

.inicio-img{
    width: 90%;
    height: 100%;
    will-change: filter;
    transition: filter 300ms;

    filter: drop-shadow(0 0 7em rgba(0, 255, 255, 0.449));
    transition: all 0.5s ease;
}
    
.inicio-img:hover {
    filter: drop-shadow(0 0 3em rgba(0, 255, 255, 0.449));
    transform: scale(1.1);
}

.inicio-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Inicio h1{
    font-family: var(--fuente-principal);
    font-size: 300%;
    font-weight: 900;
}

#Inicio h2{
    font-family: var(--fuente-principal);
    font-size: 200%;
    font-weight: 700;
    color: var(--primario);
}

#Inicio p{
    font-size: 100%;
    font-weight: 500;
    margin-top: 20px;
}

.imp-content{
    color: var(--primario);
}

.em-title{
    color: var(--primario);
    font-style: normal;
}

.inicio-footer{
    text-align: center;
}

.inicio-footer i{
    font-size: 200%;
    margin: 0 15px;
    color: white;
}

.inicio-footer i:hover{
    color: var(--secundario);
}

.button-cv{
    float: inline-start;
    margin-top: -10px;
    border: none;
    background-color: var(--secundario);
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 17.5px;
    color: var(--blanco);
}

.button-cv:hover{
    background-color: var(--terciario);
}

/* Proyectos */

#Proyectos{
    padding: 125px 0 75px 0;
    font-family: var(--fuente-principal);
    text-align: center;

    animation: desIzq 1s ease-out;
}

#Proyectos h3{
    font-size: 300%;
    font-weight: 900;
    margin-bottom: 50px;
}

.proyect-a{
    color: white;
    text-decoration: none;
}

.proyect-container{
    border-radius: 10px;
    box-shadow: 0 0 5px var(--secundario);

    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: all 0.7s ease;
}

.proyect-container:hover{
    border-radius: 0 10% 0 10%;
    box-shadow: 0 0 10px var(--secundario);
    transform: scale(1.05);
}

.proyect-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #150833c5;
    transition: all 0.5s ease;
}

.proyect-content:hover{
    border-radius: 0 10% 0 10%;
    opacity: 1;
}

.proyect-content h5{
    padding: 20px 0;
    font-size: 150%;
    font-weight: 600;
}

.proyect-content p{
    padding: 0 25.5px;
    font-size: 110%;
}

.tec-img{
    width: 12.5%;
}

/* Habilidades */

#Habilidades{
    font-family: var(--fuente-principal);
    text-align: center;
    padding: 150px 0;

    animation: desIzq 1s ease-out;
}

#Habilidades h3{
    font-size: 300%;
    font-weight: 900;
}

.habilities-container{
    margin: 50px 0 30px 0;
}

.hab-img{
    width: 12.5%;
    border-radius: 50%;
    border: 3.5px solid var(--secundario);
    background-color: #150833a8;
    margin: 10px 25px;

    min-height: 125px;
    padding: 10px;

    transition: all 0.3s ease;
}

.hab-img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--terciario);
    transform: translateY(-5%);
}

/* Sobre mí */

#Sobremí{
    font-family: var(--fuente-principal);
    text-align: center;

    padding: 240px 0 230px 0;

    animation: desIzq 1s ease-out;
}

#Sobremí h3{
    font-size: 300%;
    font-weight: 900;
    margin-bottom: 50px;
}

.em-font{
    font-size: 110%;
    font-style: normal;
}

/* Contacto */

#Contacto{
    font-family: var(--fuente-principal);
    text-align: center;

    padding-top: 100px;

    animation: desIzq 1s ease-out;
}

#Contacto h3{
    font-size: 300%;
    font-weight: 900;
}

form{
    margin: 50px;
    padding: 0 100px;
}

form div{
    margin: 20px 0;
}

form div label{
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 7.5px;
}

form div input, textarea{
    padding: 5px 10px;
    border: 2.5px solid var(--secundario);
    background-color: var(--background-secundario);
    border-radius: 10px;
    color: white;
    width: 100%;
    transition: all 0.3s ease;
    text-align: center;
}

form div input:hover{
    box-shadow: 0 0 5px var(--terciario);
}

form div textarea:hover{
    box-shadow: 0 0 5px var(--terciario);
}

form button{
    border: none;
    background-color: var(--secundario);
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 17.5px;
    color: var(--blanco);
}

form button:hover{
    background-color: var(--terciario);
}

.confirm-form-container {
    opacity: 0;
    transform: translateX(100vw);
    transition: opacity 0.3s, transform 0.3s;

    position: fixed;
    top: 35%;
    left: 28.5%;

    background-color: var(--background-secundario);
    border: 3px solid var(--secundario);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 30px 50px;
}
  
.confirm-form-container.show {
    opacity: 1;
    transform: translateX(0);
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-100vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.confirm-form-container img{
    width: 20%;
    height: auto;

    border: 5px solid green;
    border-radius: 50%;
    padding: 15px;
}

.confirm-form-container p{
    margin-top: 40px;
    font-size: 125%;
}

.confirm-form-container i{
    position: fixed;
    top: 10px;
    right: 10px;

    font-size: 175%;
}

.confirm-form-container i:hover{
    color: var(--secundario);
}

/* Footer */

footer{
    padding: 50px 0;
}

footer img{
    padding-top: 10px;
    width: 90px;
    transition: all 0.5s ease;
}

.footer-content{
    text-align: center;
    font-size: 120%;
}

.footer-content em{
    font-size: 95%;
}

.footer-rrss{
    display: flex;
    align-items: center;
    justify-content: center;

    float: inline-end;

    height: 100%;
}

.footer-rrss i{
    font-size: 200%;
    margin: 20px;
    color: white;
}

.footer-rrss i:hover{
    color: var(--secundario);
}

/* Media Query */

@media (max-width: 991.5px){

    /* Inicio */

    #Inicio{
        padding: 100px 0 40px 0;
    }
    .inicio-img-container{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .inicio-img{
        width: 70%;
        height: 100%;
    }
    .inicio-footer i{
        float: inline-end;
        margin: 15px;
    }
    .button-cv{
        margin-top: 0;
        font-weight: 500;
    }
}

@media (max-width: 991.5px){

    /* Proyectos*/

    #Proyectos{
        padding: 100px 0 0 0;
    }

    #Proyectos .col-md-4{
        margin-bottom: 25px;
    }

    .proyect-container{
        height: 500px;
    }
}

@media (max-width: 564.5px){

    /* Inicio */

    body{
        width: 90%;
    }
    header{
        width: 90%;
    }
    #Inicio{
        padding: 50px 0 40px 0;
    }
    #Inicio h1{
        font-size: 200%;
    }
    #Inicio h2{
        font-size: 150%;
    }
    .inicio-img{
        width: 225px;
    }
    .button-cv{
        font-size: 80%;
    }
    .inicio-footer i{
        font-size: 150%;
    }
}