/* Contacto */

#Contacto{
    font-family: var(--fuente-principal);
    text-align: center;

    padding-top: 100px;

    animation: desIzq 1s ease-out;
}

#Contacto h3{
    font-size: 300%;
    font-weight: 900;
}

form{
    margin: 50px;
    padding: 0 100px;
}

form div{
    margin: 20px 0;
}

form div label{
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 7.5px;
}

form div input, textarea{
    padding: 5px 10px;
    border: 2.5px solid var(--secundario);
    background-color: var(--background-secundario);
    border-radius: 10px;
    color: white;
    width: 100%;
    transition: all 0.3s ease;
    text-align: center;
}

form div input:hover{
    box-shadow: 0 0 5px var(--terciario);
}

form div textarea:hover{
    box-shadow: 0 0 5px var(--terciario);
}

form button{
    border: none;
    background-color: var(--secundario);
    border-radius: 10px;
    font-weight: 600;
    padding: 10px 17.5px;
    color: var(--blanco);
}

form button:hover{
    background-color: var(--terciario);
}

.confirm-form-container {
    opacity: 0;
    transform: translateY(100vh);
    transition: opacity 0.3s, transform 0.3s;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10000;

    backdrop-filter: blur(10px);

    /* background-color: var(--background-secundario);
    border: 3px solid var(--secundario);
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    padding: 30px 50px; */
}
  
.confirm-form-container.show {
    opacity: 1;
    transform: translateX(0);
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100vh);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.confirm-form-container img{
    margin-top: 200px;

    width: 10%;
    height: auto;

    border: 5px solid green;
    border-radius: 50%;
    padding: 15px;
}

.confirm-form-container p{
    margin-top: 40px;
    font-size: 125%;
}

.confirm-form-container i{
    position: fixed;
    top: 5%;
    right: 5%;

    font-size: 200%;
}

.confirm-form-container i:hover{
    color: var(--secundario);
}

/* Media Query */

@media (max-width: 991.5px){
    form{
        padding: 0px;
    }
}

@media (max-width: 564.5px){
    #Contacto h3{
        font-size: 250%;
    }

    form button{
        font-size: 90%;
        font-weight: 500;
    }

    .confirm-form-container img{
        width: 30%;
    }
    
}

@media (max-width: 430.5px){
    form{
        margin: 0 10px;
        padding: 0;
    }
}